body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#top-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#input-box {
  width: 400px;
  height: 400px;
  background-color: gray;
}

#output-box {
  width: 400px;
  height: 400px;
  background-color: gray;
}